body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgb(235, 156, 156), white);
    padding: 10px 20px;
    position: relative;
    z-index: 1001;
}

.logo img {
    height: 50px;
    /* Ensures no background color is applied to the logo */
    background-color: transparent;
}

.nav-buttons {
    display: flex;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(189, 77, 51, 0.847);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #992121;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .nav-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: whitesmoke;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-buttons.active {
        display: flex;
    }

    .nav-buttons a {
        margin: 10px 0;
        padding: 15px;
    }

    .menu-icon {
        display: flex;
    }
}
